page-motorista {
  * {
    margin: 0;
    padding: 0;
  }

  #fundo {
    background-image: linear-gradient(37deg, rgba(153, 30, 61, .7), rgba(125, 38, 90, .7), rgba(84, 50, 103, .7), rgba(40, 55, 96, .7), rgba(9, 52, 76, .7));
    height: 100vh;
    width: 100vw;
  }

  .botao-voltar {
    color: #FFF;
    left: 5%;
    top: 2%;
    position: absolute;
    font-size: 2.5em;
  }

  .containerHeader {
    height: 35vh;
    padding: 5%;
    display: flex;
    align-items: center;
  }

  #imagem {
    width: 100px;

    // Essa classe é adicionada pelo JS caso o motorista não tenha uma foto
    .imgTeste {
      border-radius: 1000%;
    }
  }

  #textos {
    color: #FFF;
    margin-left: 15px;
    font-size: 1.5em;
    font-family: 'Montserrat-light';
  }

  .box {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFF;
    height: 20%;
    width: 90%;
    left: 5%;
    text-align: center;
    position: absolute;
    border-radius: 1em;
    box-shadow: 1px 1px 3px #c1c1c1;
  }

  .boxInfo {
    top: 30%;
  }

  .boxCorrida {
    top: 55%;
  }

  .textInfo div {
    justify-content: center;
    margin-top: 10px;
    font-size: 1.3em;
  }

  .textCorrida div {
    margin-top: 15px;
    text-align: center;
    font-size: 4em;
  }

  .displayFlex {
    display: flex;

    ion-icon {
      margin-left: 10px;
    }
  }

  .boldFont {
    font-family: 'Montserrat-bold';
  }
}
